@page "/"

<h1 class="text-center my-5">Theme Park Advisor</h1>

<div class="d-flex justify-content-center gap-4">
    <NavLink class="btn btn-primary btn-lg px-5 py-4" href="/themeparks">
        🎢 Zábavní parky
    </NavLink>

    <NavLink class="btn btn-secondary btn-lg px-5 py-4" href="/attractions">
        🎠 Atrakce
    </NavLink>
</div>
